@model TARpe22ShopLemming.Models.Car.CarImageViewModel
@{
    var photoPaths = "~/multipleFileUpload/" + (Model.CarFilePath ?? "noimage.jpg");
}
<div class="form-group row col-sm-4 offset-2">
    <div>@Model.CarFilePath</div>
    <img class="card-img-top" src="@photoPaths" asp-append-version="true"/>
</div>